body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

header {
    flex-wrap: wrap;
    width: 125%;
    height: 65px;
    top: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: rgb(255, 216, 125);
    backface-visibility: hidden;
    background-blend-mode: exclusion;
    align-items: center;
}

.logo {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.logo > svg{
    border-radius: 50%;
}

header>div>div>a {
    color: rgb(23, 23, 27);
    text-decoration: none;
    display: block;
}

header>div>a:hover {
    color: rgb(201, 170, 255);
    transition: color 0.25s ease-in-out;
}

header > div {
    gap: 10px;
}

header>div>div {
    position: relative; 
    display: inline-block;
    height: 5px; 
    text-align: center;
    line-height: 30px; 
    cursor: pointer;
    border: 5px;
    padding: 5px;
}

header > div > div::after{
    position: absolute; 
    content:""; 
    display: block; 
    border-bottom: 3px solid rgb(255, 255, 255); 
    color: rgb(255, 255, 255);
    transition: all 250ms ease-out; 
    left: 50%; 
    width: 0;
}

header > div > div:hover::after, header > div > div > a:hover {
    color: rgb(255, 255, 255);
    display: block;
    transition: color, width 350ms,250ms ease-in-out;
    left: 0%;
    width: 100%;
}

.head {
    margin-top: 75px;
}

.pen {
    color : white;
    background-color: rgb(255, 216, 125);
}

.column-line {
    border-left: 0.5px solid gray;
    height: 350px;
}

.row-column {
    border-top: 0.5px solid gray;
    width: 500px;
}

.expression {
    padding-left: 25px;
}

.introduce {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-photo {
    padding: 10px 60px 25px 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduce-about {
    padding: 10px 0px 25px 60px;
}

.introduce-about-contact a {
    text-decoration: none;
    color: black;
}

#icon-github {
    margin-right: 4px;
}

.Skills {
    flex-direction: row;
    display: flex;
}

.Skills > div {
    padding: 15px;
    flex-direction: column;
    display: flex;
}

.Skills > div > div {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.Skills > ul {
    padding-top: 10px;
    gap : 10px;
}

.Skills > dl {
    display: flex;
}

.row-style {
    flex-direction: row;
    display : flex;
}