*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000000;
}

.root {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.cover-header {
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: #ffdd8f;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
header {
    width: 75%;
    display: flex;
    justify-content: space-around;
}
.lefts a {
    gap: 15px;
}
.lefts a img {
    width: 50px;
    border-radius: 15%;
}
.lefts a {
    left: 45%;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.rights {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 45%;
    gap : 5%;
    transition: all 0.25s;
}
.rights div {
    width: 30%;
    transition: all 0.25s ease-out;
}
.rights div a:hover{
    color: #ffffff;
    width: 100%;
    transition: all 0.25s ease-out;
}
.rights div::after {
    position: absolute;
    display: block;
    content: "";
    width: 0%;
    border-bottom: 3px solid #ffffff;
    transition: all 0.25s ease-out;
}
.rights div:hover::after{
    color: #ffffff;
    width: 5%;
    transition: width 0.25s ease-out;
}

.Inner {
    width: 100%;
    height: 100% - 100px;
    flex-direction: column;
    align-items: center;
    display: flex;
    scroll-snap-type: y mandatory;
    overflow: auto;
    margin: 100px 0 15px 0;
}

.scroll {
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.column-line {
    border-left: 0.5px solid #808080;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.row-line {
    border-bottom: 0.5px solid #808080;
    width: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 30px;
}

span::after {
    position: absolute;
    display: block;
    content: "";
    color:#ffdd8f;
    border-bottom: 3px solid #ffdd8f;
    width: 5%;
}

.first-index {
    width: 65%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.first-index div{
    flex-direction: column;
    display: flex;
}
.first-index img {
    border-radius: 8%;
}

.first-index .container {
    height: 85vh;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}
.first-index .container a p {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.second-index {
    width: 65%;
    height: 90vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.second-index div {
    height: 50vh;
    width: 80%;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.third-index {
    width: 65%;
    height: 90vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.third-index div {
    width: 100%;
    height: 90vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.forth-index {
    width: 65%;
    height: 90vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.box2 {
    width: 100%;
    height: 30vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    transition: all 0.3s ease-out;
}
.box {
    width: 20vw;
    height: 27vh;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 3%;
    transition: all 0.3s ease-out;
    margin: 0px 10px 0px 10px;
}
.box:hover {
    transition: all 0.3s ease-out;
    box-shadow: 1px 3px 10px #8e8e8e;
}

.fifth-index {
    width: 65%;
    height: 90vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-bottom: 5vh;
}
.fifth-index div {
    width: 100%;
    height: 80vh;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    display: flex;
}

.cover-footer {
    width: 100%;
    height: 40vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    display: flex;
    background: #ffdd8f;
}